.footer-section {
    background-color: var(--back-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-address {
    margin-right: 70px;
}

.footer-nav {
    font-style: normal;
    line-height: 1.71;
}

.adress.link {
    color: var(--primary-white-color);
}

.footer-logo {
    display: block;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-cont.link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-social-title {
    color: var(--primary-white-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-mail {
    margin-left: 93px;
}

.mail-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-text {
    color: var(--primary-white-color);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-input {
    color: var(--primary-white-color);
    background-color: transparent;
    width: 358px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}


.mail-icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}